.footer-basic {
  background-color: #121212;
  color: rgb(5,130,255);
  padding: 5px 0;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 24px;
  color: #aaa;
  font-weight: bold;
  margin-bottom: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

